@font-face {
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: local('OpenSans-SemiBold'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Ruda-Regular'), url('../fonts/Ruda-Regular.woff2') format('woff2'), url('../fonts/Ruda-Regular.woff') format('woff'), url('../fonts/Ruda-Regular.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: local('Ruda-SemiBold'), url('../fonts/Ruda-SemiBold.woff2') format('woff2'), url('../fonts/Ruda-SemiBold.woff') format('woff'), url('../fonts/Ruda-SemiBold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('Ruda-Bold'), url('../fonts/Ruda-Bold.woff2') format('woff2'), url('../fonts/Ruda-Bold.woff') format('woff'), url('../fonts/Ruda-Bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-Black', sans-serif;
    font-weight: 900;
    font-style: normal;
    src: local('Ruda-Black'), url('../fonts/Ruda-Black.woff2') format('woff2'), url('../fonts/Ruda-Black.woff') format('woff'), url('../fonts/Ruda-Black.ttf') format('ttf');
    font-display: swap;
}