body {
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 1.4;
}

.section {
    padding: 72px 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    color: $dark-900;
    text-transform: uppercase;
    text-align: center;
}

.button {
    @extend %button;
}
