$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;
%sans-300 {
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 300;
}

%sans-400 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
}

%sans-600 {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-weight: 600;
}

%sans-700 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
}

%ruda-400 {
    font-family: 'Ruda-Regular', sans-serif;
    font-weight: 400;
}

%ruda-600 {
    font-family: 'Ruda-SemiBold', sans-serif;
    font-weight: 600;
}

%ruda-700 {
    font-family: 'Ruda-Bold', sans-serif;
    font-weight: 700;
}

%ruda-900 {
    font-family: 'Ruda-Black', sans-serif;
    font-weight: 900;
}

%button {
    display: inline-block;
    @extend %sans-400;
    font-size: 18px;
    line-height: 1.3;
    background-color: $green-900;
    border-radius: 6px;
    color: $white;
    padding: 12px 24px;
    transition: background-color .3s, box-shadow .3s;
    &:hover {
        background-color: #4D810C;
    }
    &:active {
        background-color: $green-900;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:focus {
        box-shadow: 0px 0px 0px 4px $green-200;
    }
}

%img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}