$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$silver-600: #c1c1c1;
$silver-100: #f6f6f6;
$white: #ffffff;

%img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%subtitle-menu {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.4;
    color: $dark-500;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0;
        background-color: $green-900;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &:hover::before {
        opacity: 0.2;
    }
}

%star {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: $dark-500;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        padding: 1px;
        width: 40px;
        height: 16px;
        right: 12px;
        left: auto;
        bottom: 12px;
        background-image: url("../images/promo/star.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }
}
