.header {
    &__top {
        background-color: $dark-800;
        @extend %sans-700;
        font-size: 13px;
        line-height: 1.4;
        color: $white;
        text-transform: uppercase;
        padding: 16px 0;
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        transition: opacity 0.3s;

        & + & {
            margin-left: 24px;
        }

        &--del {
            margin-right: 24px;
        }

        &--tel {
            margin-right: auto;
        }

        &--del,
        &--tel {
            padding-left: 44px;
        }

        &:hover {
            opacity: 0.7;
        }

        &::before {
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 32px;
            height: 22px;
            left: 0;
        }

        &--del:before {
            background-image: url("../images/header/icon-del-address.svg");
        }

        &--tel:before {
            background-image: url("../images/header/icon-tel.svg");
        }
    }

    &__bottom {
        background-color: $green-900;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 0;
    }

    .logo {
        margin-right: auto;
    }

    &__catalog {
        color: $green-900;
        border-radius: 6px;
        margin-right: 30px;
        padding: 15px 38px 15px 61px;
        @extend %sans-600;
        font-size: 14px;
        line-height: 1.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: $white;
        background-image: url("../images/header/nav_icon.svg"),
            url("../images/header/select-arrow-down.svg");
        background-position: 17px center, calc(100% - 18px) center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: background-image 0.1s, background-color 0.3s;
        position: relative;
        &:hover {
            background-color: $green-200;
        }
    }

    &__list {
        position: absolute;
        left: 0;
        bottom: -665px;
        display: none;
        z-index: 2;
        font-size: 16px;
        line-height: 1.2;
        color: #000;
        background-color: $white;
    }

    &__choice {
        padding: 15px 24px;
        border: 1px solid #ebebeb;
        position: relative;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
            color: $green-900;
        }

        &:hover::before {
            content: "";
            position: absolute;
            height: 49px;
            width: 3px;
            left: 0;
            top: 0;
            background-color: $green-900;
        }
        &:last-child {
            border-radius: 0px 0px 6px 6px;
        }
    }

    &__form {
        display: flex;
        position: relative;
    }

    &__form::before {
        content: "";
        position: absolute;
        background-image: url("../images/header/icon-search.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 15px;
    }

    &__search {
        color: $dark-800;
        @extend %sans-400;
        font-size: 14px;
        line-height: 1.4;
        padding: 15px 52px;
        border-radius: 6px 0px 0px 6px;
    }

    &__button {
        color: $white;
        background-color: $dark-800;
        padding: 15px 52px;
        @extend %sans-600;
        font-size: 14px;
        line-height: 1.4;
        text-transform: uppercase;
        border-radius: 0px 6px 6px 0px;

        &:hover {
            background: rgba(49, 53, 43, 0.85);
        }

        &:active {
            color: rgba(255, 255, 255, 0.5);
            background-color: $dark-800;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__icon {
        &:not(:last-child) {
            margin-right: 11px;
        }

        :hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
        }
    }

    &__icon-link {
        display: block;
        height: 50px;
        width: 50px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--user::before {
            height: 32px;
            width: 24px;
            top: 9px;
            left: 13px;
            background-image: url("../images/header/user-link.svg");
        }
        &--heart::before {
            height: 32px;
            width: 28px;
            top: 11px;
            left: 11px;
            background-image: url("../images/header/icon-heart.svg");
        }

        &--cart::before {
            height: 32px;
            width: 30px;
            top: 9px;
            left: 10px;
            background-image: url("../images/header/icon-cart.svg");
        }
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item {
        opacity: 1;
        transition: opacity 0.3s;
    }

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__item:hover {
        opacity: 0.7;
    }
}
