.promo {
    text-align: center;
    background-color: #f5f5f5;

    &__title {
        margin-bottom: 32px;
    }

    &__menu {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }

    &__category:not(:last-child) {
        margin-right: 24px;
    }

    &__button {
        @extend %subtitle-menu;
    }

    &__content {
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        background-color: $white;
        border-radius: 6px;
        border: 1px solid $silver-600;
        padding: 13px 12px 11px;
        // @extend %badge;
        @extend %star;
        text-align: left;
        letter-spacing: 0.03em;
        display: grid;
        grid-template: 1fr auto auto / 100px 1fr 1fr;
        // column-gap: 12px;
    }

    &__item:nth-child(1) {
        &::before {
            // @extend %badge-new;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "4.5";
            right: 12px;
        }

        .promo__avail {
            color: $green-900;
        }
    }

    &__item:nth-child(2) {
        &::before {
            // @extend %badge-new;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "4.9";
        }

        .promo__avail {
            color: $red-900;
        }
    }

    &__item:nth-child(3) {
        &::before {
            // @extend %badge-new;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "5.0";
        }

        .promo__avail {
            color: $silver-600;
        }
    }

    &__item:nth-child(4) {
        &::before {
            // @extend %badge-new;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "5.0";
        }

        .promo__avail {
            color: $green-900;
        }
    }
    &__item:nth-child(5) {
        &::before {
            // @extend %badge-new;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "4.5";
        }

        .promo__avail {
            color: $green-900;
        }
    }

    &__item:nth-child(6) {
        &::before {
            // @extend %badge-hit;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "4.9";
        }

        .promo__avail {
            color: $red-900;
        }
    }

    &__item:nth-child(7) {
        &::before {
            // @extend %badge-hit;
            top: 13px;
            left: 12px;
        }

        &::after {
            content: "4.8";
        }

        .promo__avail {
            color: $green-900;
        }
    }

    &__item:nth-child(8) {
        &::before {
            // @extend %badge-hit;
            top: 13px;
            left: 12px;
        }
        &::after {
            content: "4.6";
        }

        .promo__avail {
            color: $green-900;
        }
    }

    &__img {
        grid-row: span 3;
    }

    &__item-title {
        text-align: left;
        justify-self: start;
        margin-bottom: 7px;
        grid-column: span 2;
    }

    &__avail {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 4px;
        grid-column: span 2;
    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
    }

    &__price span {
        font-size: 14px;
        margin-right: 12px;
    }

    &__old-price {
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        margin-right: 40px;
        align-self: end;
    }
}
